body{background-color:rgb(0, 0, 0);}

#navigation{display: flex;
flex-direction: column;}

#logo img{height: 40px;
border-radius:  23px;}

.navbar ul{padding-top: 5px;}
#navbar{padding:9px 5px;}



/* ...........................gallery..................... */

.section{display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;}

.home1 button{border-radius: 23px;
    /* box-shadow: grey 1px 1px 32px 1px; */;
    margin: 23px 118px;
    font-family: 'Dancing Script', cursive;}
/* .................................. */

.first::before{content:"";
    position:absolute;
    background: url('/images/pexels-imad-clicks-6478197.jpg') no-repeat center center/cover;
    background-position: center;
    opacity: 0.85;
    z-index: -3;
    width: 100%;
height: 90%;
right: 0%;}

.navbar li{font-family:cursive;}

.home1 h3{font-family: 'Pacifico', cursive;
    color: #62676e;}

.home1 p{font-family: 'Original Surfer', cursive;
    color: #fbf2f28c;}

    #navbar li a {
        text-decoration: none;
        padding: 3px 15px;               
    }
